---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 80
SeparateDefinitionBlocks: Always
EmptyLineBeforeAccessModifier: LogicalBlock
AlignAfterOpenBracket: Align
BreakBeforeBraces: Attach
BinPackArguments: false
BinPackParameters: false
AllowShortBlocksOnASingleLine: false